
.heading
{
width: 100%;
text-align: left;
font-family: cursive;
}
.heading h3{
    display: inline;
    font-family: cursive;
}

.heading button{
    float: right;
    border: 1px solid white;
    font-family: cursive;
}

.big_image
{
    width: 100%;
}
#start ,#status 
{
font-size: 22px;
font-family: cursive;
}
.modal-dialog
{
    width: 90%;
}

.instruction_image
{
    display: inline-block;
    width: 45%;
}

h4
{
   background-color: #f5f5f5;
   line-height: 2;
   margin: 0px;
   font-family: cursive;
}

video
{
    background: url('game_console.png');
    background-size:cover;
    background-position: center;
    padding: 25px;
}
